<h4>
  Internal server error - refreshing the page will make the error disappear
</h4>

<ng-container *ngIf="error">
  <h5 class="text-danger">Error: {{ error.message }}</h5>
  <p class="font-weight-bold">
    Note: If you are seeing this, then angular is probably not to blame
  </p>
  <p>What to do next?</p>
  <ol>
    <li>Check the console for the error message</li>
    <li>Check the network tab for the error message</li>
    <li>Check the server logs for the error message</li>
    <li>Check the server code for the error message</li>
  </ol>
  <p style="font-weight: bold">Stack trace</p>
  <code class="mt-5" style="background-color: whitesmoke">
    {{ error.details }}
  </code>
</ng-container>
